@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@layer base {
    h1 {
      font-size: 4rem;
    }
  }

  @layer base {
    h2 {
      font-size: 3rem; 
    }
  }

  @layer base {
    h3 {
      font-size: 1.6rem; 
    }
  }
  
